msgspec>=0.21.1
orjson>=3.11.8
redis[hiredis]>=7.4.0
blacksheep>=2.6.2
uvicorn[standard]>=0.46.0
colorlog>=6.10.1
asyncpg>=0.31.0
sqlalchemy>=2.0.49
alembic>=1.18.4
psycopg2-binary>=2.9.12
jinja2>=3.1.6
guardpost>=1.0.4
rodi>=2.0.8
essentials>=1.1.9